<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Inicio de Sesión</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center pt-1 mt-2 mr-1">
        <div class="col-md-4 formulario">
            <form action="./index.html">
                <div class="form-group mx-auto" style="width: 200px">
                    <img src="../static/img/logo_w.png" width="200" height="160">
                </div>

                <div class="form-group text-center pt-6">
                    <h2 class="text-white">BIENVENIDO</h2>
                    <h4 class="text-white">Iniciar Sesión</h4>
                </div>
                <div class="form-group mx-sm-4 pt-3">
                    <input type="text" class="form-control" placeholder="Ingrese su Usuario:">
                </div>
                <div class="form-group mx-sm-4 pb-3">
                    <input type="text" class="form-control" placeholder="Ingrese su Contraseña:">
                </div>
                <div class="form-group mx-sm-4 pb-5">
                    <a type="submit" href="{%url 'inicio'%}" class="btn btn-block ingresar" >INGRESAR</a>
                </div>
                <div class="form-group mx-sm-4 text-right">
                    <span class=""><a href="#" class = "olvide">Olvide mi contraseña</a></span>
                </div>
                <div class="class-group text-center pb-4">
                    <span><a href="" class="registro">REGISTRARME</a></span>
                </div>
            </form>
        </div>
    </div>

</div>
    


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>