{% extends "base2.html" %}

{% block head_content %}
    <title>Work Orders - Trabajo</title>
{% endblock %}

{% block container %}
<!-- Begin Page Content -->
<div class="container-fluid">
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col">

                    <h4 class="m-0 font-weight-bold text-primary">Lista de Ordenes de trabajo </h4>
                </div>
                <div class="col">                    
                    <a href="{%url 'nueva_orden'%}" class="btn btn-success btn-icon-split float-right">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Nuevo Orden</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>

                            <th scope="col">Placa Vehículo</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha Solicitud</th>
                            <th scope="col">Tipo de Solicitud</th>
                            <th scope="col">Estatus</th>
                          </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col">#</th>

                            <th scope="col">Placa Vehículo</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha Solicitud</th>
                            <th scope="col">Tipo de Solicitud</th>
                            <th scope="col">Estatus</th>
                          </tr>
                    </tfoot>
                    <tbody>
                        {% for o in ordenes %}
                        
                        <tr>
                          <th scope="row">{{o.id}}</th>
                          
                          <td>{{o.Vehiculo.placa}} </td>
                          <td>{{o.cliente.nombre}} {{o.cliente.apellido}} </td>

                          <td>{{o.created|date:'d/m/Y'}} </td>
                          <td>{{o.tiporeparacion}}</td>
                          <td>
                            <span class="badge {% if o.estado == 'Nuevo' %} badge-info {% elif o.estado == 'En Proceso'%}badge-warning {% else %} badge-success {% endif %} "><h6>{{o.estado}}</h6></span>
                          </td>
                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}