<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilosidebar.css">
    <title>Hello, world!</title>
  </head>
  <body>

    <div class="d-flex"> 
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <div class="form-group mx-auto" style="width: 200px">
                    <img src="img/logo_w.png" width="150" height="140">
                </div>
            </div>
                <div class="menu">
                    <a href="./index.html" class="d-block text-light p-3"><i class="icon ion-md-apps mr-2 lead"></i>DashBoard </a>
                    <a href="./contactos.html" class="d-block text-light p-3"><i class="icon ion-md-person mr-2 lead"></i>Usuarios <i class="icon ion-md-checkmark"></i></a>
                    <a href="./clientes.html" class="d-block text-light p-3"><i class="icon ion-md-contacts mr-2 lead"></i>Clientes</a>
                    <a href="./OrdenesDeTrabajo.html" class="d-block text-light p-3"><i class="icon ion-md-briefcase mr-2 lead"></i>Ordenes de trabajo</a>
                    <a href="./dianosticos.html" class="d-block text-light p-3"><i class="icon ion-md-clipboard mr-2 lead"></i>Diagnósticos</a>
                    <a href="#" class="d-block text-light p-3"><i class="icon ion-md-construct mr-2 lead"></i>Configuración</a>
                    <a href="#" class="d-block text-light p-3"><i class="icon ion-md-exit mr-2 lead"></i>Salir</a>
                </div>
        </div>


        <div class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h3 class="text-light"><i class="icon ion-md-person mr-2 lead"></i>Usuarios</h3>
                  <ul class="navbar-nav ml-auto">
                      
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrador
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mi perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cerrar Sesión</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>


              
            <div id="content">
                    <section>
                        <div class="container pt-5">
                            <div class="row col-lg-11 borde mx-sm-4">
                                <div class="col-lg-9">

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group mx-sm-4 ">
                                        <input type="submit" class="btn btn-block ingresar" value="Agregar Usuario">
                                    </div>
                                </div>
                              

                                <div class="col-lg-12 pt-4">


                                    <table class="table table-striped">
                                        <thead class="table-dark">
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">CUI</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apelliido</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Telefono</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Acciones</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>3114154212201</td>
                                            <td>Otto</td>
                                            <td>Perez</td>
                                            <td>O_perez</td>
                                            <td>35251415</td>
                                            <td>nombre@algo.com</td>
                                            <td>Admin</td>
                                            <td>editar/eliminar</td>
                                          </tr>
                                          <tr class="bg-warning">
                                            <th scope="row">2</th>
                                            <td>1515231452201</td>
                                            <td>Jaime</td>
                                            <td>Gregorio</td>
                                            <td>Jaigorio</td>
                                            <td>78441545</td>
                                            <td>nombre@algo.com</td>
                                            <td>Vendedor</td>
                                            <td>editar/eliminar</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>2521321452201</td>
                                            <td>Geonathan</td>
                                            <td>Sazo</td>
                                            <td>Sazonathan</td>
                                            <td>78442524</td>
                                            <td>nombre@algo.com</td>
                                            <td>Admin</td>
                                            <td>editar/eliminar</td>
                                          </tr>
                                          <tr class="bg-warning">
                                            <th scope="row">3</th>
                                            <td>2521321452201</td>
                                            <td>Geonathan</td>
                                            <td>Sazo</td>
                                            <td>Sazonathan</td>
                                            <td>78442524</td>
                                            <td>nombre@algo.com</td>
                                            <td>Vendedor</td>
                                            <td>editar/eliminar</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>2521321452201</td>
                                            <td>Geonathan</td>
                                            <td>Sazo</td>
                                            <td>Sazonathan</td>
                                            <td>78442524</td>
                                            <td>nombre@algo.com</td>
                                            <td>Vendedor</td>
                                            <td>editar/eliminar</td>
                                          </tr>
                                        </tbody>
                                      </table>



                                </div>
                            </div>
                        </div>
                    </section>
            </div>

        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>