{% load static %}
<div id="sidebar-container" class="bg-primary">
    <div class="logo">
        <div class="form-group mx-auto" style="width: 200px">
            <img src="../static/img/logo_w.png" width="150" height="140">
        </div>
    </div>
    <div class="menu">
            <a href="{%url 'inicio'%}" class="d-block text-light p-3"><i class="icon ion-md-apps mr-2 lead"></i>Inicio <i class="icon ion-md-checkmark"></i></a>
            <a href="{%url 'clientes'%}" class="d-block text-light p-3"><i class="icon ion-md-contacts mr-2 lead"></i>Clientes</a>
            <a href="#" class="d-block text-light p-3"><i class="icon ion-md-person mr-2 lead"></i>Usuarios </a>
            <a href="#" class="d-block text-light p-3"><i class="icon ion-md-briefcase mr-2 lead"></i>Ordenes de trabajo</a>
            <a href="#" class="d-block text-light p-3"><i class="icon ion-md-clipboard mr-2 lead"></i>Diagnosticos</a>
            <a href="#" class="d-block text-light p-3"><i class="icon ion-md-construct mr-2 lead"></i>Configuración</a>
            <a href="#" class="d-block text-light p-3"><i class="icon ion-md-exit mr-2 lead"></i>Salir</a>
        </div>
</div>